.btn {
  padding: 1.5rem 3.7rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  background-color: #339af0;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #228be6;
}

.btn:disabled {
  background-color: gray;
}

.btn--round {
  border-radius: 100px;
}

.btn--block {
  width: 100%;
}

.text-upper {
  text-transform: uppercase;
}
