.notification {
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  display: inline-block;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  width: 100%;
  max-width: 40rem;
  z-index: 40000;
}

.notification.close {
  display: none;
}

.notification__icon {
  margin-right: 1rem;
  background-color: green;
  padding: 0.3rem;
  border-radius: 5rem;
  display: inline-flex;
  justify-content: center;
  transform: translateY(-1px);
  color: #fff;
  font-size: 1.1rem;
  align-self: flex-start;
  line-height: 1;
}

.notification__header {
  font-size: 1.4rem;
  line-height: 1;
  color: green;
  margin-bottom: 0.5rem;
}

.notification__description {
  font-size: 1.2rem;
  color: #777;
}

.notification__close {
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #999;
}
