.home {
  display: flex;
  /* I will remove the height, it's just for development */
  /* height: 100vh; */
}

.aside-back {
  flex-basis: 25rem;
  background-color: red;
  height: 100vh;
}





/* 
.category {
  margin-bottom: 4rem;
}

.category__list {
  display: flex;
  justify-content: center;
}

.category__list-item {
  margin: 0 1.5rem;
}

.category__link {
  padding: .7rem;
  transition: all .2s;
  font-size: 1.4rem;
  position: relative;
  text-transform: uppercase;
}

.category__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: greenyellow;
  transition: all .3s;
  transform-origin: left;
}

.current::after {
  width: 50%;
}

.category__link:hover::after {
  width: 60%;
} */
