.input__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  color: #6b7280;
}

.input__icon {
  display: inline-block;
  position: absolute;
  transform: translate(1.5rem, 0.8rem);
  font-size: 2rem;
  /* color: #74c0fc; */
  color: #999;
}

.input__input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.7rem;
  border: 1px solid #dbeafe;
  color: #555;
}

.input__input:focus {
  border: 1px solid #74c0fc;
}

.input__input::placeholder {
  font-size: 1.3rem;
}

.more-padding {
  padding-left: 5rem;
}

.input__input::placeholder {
  color: #c6c6c6;
}

.input__input.invalid {
  border: 1px solid rgb(211, 140, 7);
}

.input__error {
  color: rgb(211, 140, 7);
  font-size: 1.1rem;
  margin-top: 0.3rem;
}

.forget-password {
  display: inline-block;
  width: 100%;
  text-align: right;
  /* transform: translateX(-50%); */
  margin-top: 0.7rem;
}

.forget-password a {
  display: inline-block;
  color: #1971c2;
  border-bottom: 2px solid #1971c2;
  font-weight: 600;
}

.form__group .forget-password + .form__error {
  transform: translateY(-120%);
}

.password-length {
  transform: translateY(-120%);
  color: #555;
}
