.main {
  /* padding: 2rem; */
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.main__header {
  height: 40vh;
  background-color: blanchedalmond;
  background-image: linear-gradient(to right, #00c3ff, #ffff1c);
}

.main__feed-section {
  padding: 2rem;
}