.section-feeds {

}

.feeds {
  display: flex;
  justify-content: space-evenly;
  /* background-color: burlywood; */
  flex-wrap: wrap;
}

.filter-links {
  display: flex;
  margin-bottom: 3rem;
  justify-content: flex-end;
}

.filter-links__item {
  margin: 0 2rem;
}

.filter-links__link {
  font-size: 1.3rem;
  position: relative;
  transition: all .2s;
  padding-bottom: .6rem;
}

.filter-links__link:hover {
  color: #1d4ed8;
}

.current::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 4rem;
  height: 3px;
  transform: translateX(-50%);
  border-radius: 3rem;
  background-color: #999;
  transition: all .2s;
}

.current:hover::before {
  background-color: #1d4ed8;
}

.read-more {
  margin-left: 1.5rem;
  transform: translateY(-1.5rem);
}

.read-more__link {
  font-size: 1.4rem;
  color: #1d4ed8;
  transition: all .2s;
}

.read-more__link:hover {
  display: inline-block;
}

.read-more__link:hover .read-more__arrow {
  transform: translateX(1rem);
}

.read-more__arrow {
  display: inline-block;
  transform: translateX(.6rem);
  transition: all .2s;
}